.card {
    border-radius: 15px;
}

.card-title {
    font-weight: bold;
}

.btn {
    border-radius: 25px;
}

.list-group-item {
    border: none;
}

.action-icon {
    text-align: center;
}

.action-icon i {
    font-size: 3rem; /* Adjust icon size */
    cursor: pointer; /* Change cursor to pointer */
}

.action-icon p {
    margin-top: 0.5rem; /* Space between icon and label */
}